@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Estilos generales
*/

body{
  background-color: #0c3f55;
  color: white;
}

/* ScrollBar en Alumnos Registrados */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #50C4CE;
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #1A7BB5;
}

/* input color al seleccionar */
.inputFocus:focus {
  border-color: #50C4CE;
  outline: none;
}

.selectFocus {
  width: 100%;
  background-color: #f9fafb;
  color: black;
  border: 1px solid #e5e7eb;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 0.875rem;
  margin-top: 4px;
}
.selectFocus:focus {
  border-color: #50C4CE;
  outline: none;
}

.selectFocus option {
  color: black;
}